services:
  nebula-sync:
    image: ghcr.io/lovelaze/nebula-sync:latest
    container_name: nebula-sync
    restart: unless-stopped
    env_file: .env
    environment:
      PRIMARY: "https://srv-lxc-pihole1|$password"
      REPLICAS: "srv-lxc-pihole2|$password"