[Unit]
Description=Ansible Pull configuration management
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=ansible
Group=ansible
WorkingDirectory=/home/ansible/.ansible/pull/%H
ExecStart=/usr/local/bin/ansible-pull-wrapper

[Install]
WantedBy=multi-user.target