# NOTE: Base role

- block:

  # NOTE: Configure Ansible Pull

  - import_tasks: ansible_setup/systemd.yml

 # NOTE: Make sure users exist on the system  
  - import_tasks: users/root.yml
  - import_tasks: users/robk.yml

  # NOTE: install software
  - import_tasks: software/packages_base_repositories.yml
  - import_tasks: software/packages_base_install.yml
  - import_tasks: software/packages_base_remove.yml
  - import_tasks: software/packages_base_qemu_agent.yml  

  # NOTE: Perform remaining tasks:
#  - import_tasks: system_setup/clock.yml
  - import_tasks: system_setup/openssh.yml
  - import_tasks: system_setup/upgrades.yml  

  # Rescue section allows you to define tasks that will run if a previous task in a block fails.
  rescue:
    - set_fact: task_failed=true 

    - name: Log the failure
      debug:
        msg: "The task has failed, setting task_failed to true."