[Unit]
Description=Run ansible-pull every 1 hours with 30 mins random drift.

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
RandomizedDelaySec=30min
Unit=ansible-pull.service
Persistent=true

[Install]
WantedBy=timers.target