---

- include_vars: ../vars/ansible_setup.yml

# NOTE: Create ansible-pull wrapper
- name: ansible_setup | Create ansible-pull wrapper
  tags: ansible
  copy:
    dest: "/usr/local/bin/ansible-pull-wrapper"
    content: |
      #!/usr/bin/env bash
      /usr/bin/ansible-pull -U "{{ ansible_repo_url }}" --clean
    mode: 0755      

# NOTE: Setup systemd
- name: ansible_setup | Setup systemd
  tags: ansible
  copy:
    src: "{{ item }}"
    dest: /etc/systemd/system
    owner: root
    group: root
    mode: 0755
    force: true   
  with_items:
    - ansible_setup/ansible-pull.service
    - ansible_setup/ansible-pull.timer
  notify: 
    - reload_systemd

- name: ansible_setup | Enable systemd for ansible-pull
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:  
    - ansible-pull.service
    - ansible-pull.timer

# NOTE: Enable logging for ansible

- name: ansible_setup | Enable logging for ansible
  tags: ansible
  file:
    path: /var/log/ansible.log
    owner: ansible
    group: ansible
    mode: 0664
    state: touch
  changed_when: False

- name: ansible_setup | Enable logging for ansible - logrotate
  tags: ansible
  copy:
    src: ansible_setup/logrotate
    dest: /etc/logrotate.d/ansible
    owner: root
    group: root
    mode: 0644

- name: ansible_setup | Remove default ansible directory (/etc/ansible) from host
  tags: ansible,ansible-setup
  file:
    path: /etc/ansible
    state: absent